@using Microsoft.AspNetCore.Identity
@using ClubestApp.Data.Models
@using ClubestApp.Services

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject UserService userService

@{
    var currentUser = new User();
    if (SignInManager.IsSignedIn(User))
    {
        currentUser = await this.UserManager.GetUserAsync(User);
    }
    currentUser = this.userService.FindUserById(currentUser.Id)
        .GetAwaiter()
        .GetResult();

    bool isMember = currentUser.UserClubs.Any(x => x.ClubId == Model.Club.Id);
}
<div class="px-0 col-lg-12 mx-auto row">
    <div class="px-0 col-lg-4 p-3">
        <img src="@Model.Club.PictureUrl" alt="@Model.Club.Name" class="w-100 h-100" />
    </div>
    <div class="px-0 col-lg-8 box-shadow p-3 mt-3">
        <h3 class="text-center text-uppercase mb-3 h3">
            @Model.Club.Name
            @if (!Model.Club.IsPublic)
            {
                <i class="fas fa-lock ml-3"></i>
            }
        </h3>
        <p>
            Град: @Model.Club.Town
            @if (Model.ClubPriceType == "Free")
            {
            <p>Такса: <span class="font-weight-bold text-uppercase">Безплатно</span></p>
        }
        else if (Model.ClubPriceType == "Montly")
        {
            <p>Месечна Такса: <span class="font-weight-bold text-uppercase">@Model.Club.Fee лв</span></p>
        }
        else if (Model.ClubPriceType == "PerHour")
        {
            <p>Такса на час: <span class="font-weight-bold text-uppercase">@Model.Club.Fee лв</span></p>
        }
            <p>@Model.Club.Description</p>
            @if (!isMember)
            {
                <a href="/Club/JoinClub/@Model.Club.Id" class="btn btn-outline-primary btn-sm waves-effect btn-padding-smaller"
                   data-toggle="tooltip" data-placement="top" title="Влез в клуб">
                    <i class="fas fa-plus-circle fa-lg"></i>
                </a>
            }
            else
            {
                <a href="/Club/ExitClub/@Model.Club.Id/@currentUser.Id" class="btn btn-outline-primary btn-sm waves-effect btn-padding-smaller"
                   data-toggle="tooltip" data-placement="top" title="Излез от клуба">
                    <i class="fas fa-door-open fa-lg"></i>
                </a>
            }

            @if (User.IsInRole("SystemAdmin") || (User.IsInRole("ClubAdmin") && currentUser.AdminClubs.Any(x => x.ClubId == Model.Club.Id && x.UserId == currentUser.Id)))
            {
                <a href="/Club/Edit/@Model.Club.Id" class="btn btn-warning waves-effect btn-sm btn-padding-smaller"
                   data-toggle="tooltip" data-placement="top" title="Редактирай клуб">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <a href="/Club/Delete/@Model.Club.Id" class="btn btn-danger waves-effect btn-sm btn-padding-smaller"
                   data-toggle="tooltip" data-placement="top" title="Изтрий клуб">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </a>
            }
        </div>
    </div>
    <div class="px-0 col-lg-12">
        <ul class="nav justify-content-center primary-color lighten-4">
            <li class="nav-item waves-effect">
                <a class="nav-link text-white" href="/Club/Details/@Model.Club.Id">Постове</a>
            </li>
            <li class="nav-item waves-effect">
                <a class="nav-link text-white" href="/Club/ListMembers/@Model.Club.Id">Членове</a>
            </li>
            <li class="nav-item waves-effect">
                <a class="nav-link text-white" href="/Event/Index/@Model.Club.Id">Събития</a>
            </li>
            <li class="nav-item waves-effect">
                <a class="nav-link text-white" href="/Club/Polls/@Model.Club.Id">Анкети</a>
            </li>
            @if (User.IsInRole("SystemAdmin") || (User.IsInRole("ClubAdmin") && currentUser.AdminClubs.Any(x => x.ClubId == Model.Club.Id && x.UserId == currentUser.Id)))
            {
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="/Club/JoinRequests/@Model.Club.Id">Заявки</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link text-white" href="/Club/PollsAdministration/@Model.Club.Id">Администрация на анкети</a>
                </li>
            }
        </ul>
    </div>