@using ClubestApp.Data.Models.Enums

@foreach (var post in Model.Posts)
{
    <div class="box-shadow-light my-4 p-3" id="@post.Id">
        <p>
            <span class="font-italic">
                <img src="@post.Author.PictureUrl" class="w-30px border-radius-rounded" alt="UserPicture" />
                @post.Author.FirstName @post.Author.LastName
            </span>
            <span class="float-right">
                @if (User.IsInRole("SystemAdmin") || User.IsInRole("ClubAdmin"))
                {
                    <a href="/Post/Delete/@post.Id?clubId=@Model.Club.Id" class="mr-2 mb-3 btn btn-danger fa-lg px-3 py-2"
                       data-toggle="tooltip" data-placement="top" title="Изтрий пост">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                }
                <a href="/Post/Like/@post.Id?clubId=@Model.Club.Id" class="mr-2">
                    <span class="h3">@post.UserPostLikes.Count</span>
                    <i class="far fa-thumbs-up fa-2x"></i>
                </a>
                <a href="/Post/Dislike/@post.Id?clubId=@Model.Club.Id" class="ml-2">
                    <span class="h3">@post.UserPostDislikes.Count</span>
                    <i class="far fa-thumbs-down fa-2x"></i>
                </a>
            </span>
        </p>
        <hr />

        <p>@post.Content</p>
        @if (post.PostType == PostType.Image)
        {
            <img src="@post.FileUrlOrLink" class="w-100" />
        }
    </div>
}