<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Добави потребител с роля</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Event" asp-action="JoinEvent" method="post">
                <div class="modal-body mx-3">
                    <div class="md-form mb-3">
                        <p class="text-left">Избери потребител:</p>
                        <select name="userId" class="browser-default custom-select">
                            @foreach (var user in Model.AllUsers)
                            {
                                <option value="@user.Id">
                                    @user.FirstName @user.LastName - @user.Email
                                </option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="eventId" value="@Model.Event.Id" />
                    <input type="hidden" name="clubId" value="@Model.Club.Id" />
                    <div class="md-form mb-3">
                        <p class="text-left">Избери роля:</p>
                        <select name="role" class="browser-default custom-select">
                            <option value="Лектор">Лектор</option>
                            <option value="Гост">Гост</option>
                            <option value="Организатор">Организатор</option>
                            <option value="Участник">Участник</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn blue-gradient">Добави</button>
                </div>
            </form>
        </div>
    </div>
</div>