@model ClubestApp.Models.BindingModels.Events.EventIndexBindingModel
@{
    ViewData["Title"] = $"{Model.Club.Name} - Събития";
}
@using Microsoft.AspNetCore.Identity
@using ClubestApp.Data.Models
@using ClubestApp.Services

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject UserService userService

@{
    var currentUser = new User();
    if (SignInManager.IsSignedIn(User))
    {
        currentUser = await this.UserManager.GetUserAsync(User);
    }
    currentUser = this.userService.FindUserById(currentUser.Id)
        .GetAwaiter()
        .GetResult();

    bool isMember = currentUser.UserClubs.Any(x => x.ClubId == Model.Club.Id);
}


    <div class="col-lg-12 my-2 mx-auto bg-white border-deep-blue box-shadow row">
        <partial name="../Shared/_ClubDetails.cshtml" />

        @if (isMember || currentUser.AdminClubs.Any(x => x.ClubId == @Model.Club.Id && x.UserId == currentUser.Id) || User.IsInRole("SystemAdmin"))
        {
            <div class="col-lg-4">
                <partial name="../Club/_Chat.cshtml" model="@Model.Messages" />
                <input type="text" name="name" value="@Model.Club.Id" id="clubId" hidden />
            </div>
            <div class="col-lg-8 border">
                <div class="col-lg-12 text-center">
                    <div class="d-inline" data-toggle="tooltip" data-placement="top" title="Добави Събитие">
                        <a id="openModal" data-toggle="modal" data-target="#createEvent"
                           class="btn blue-gradient waves-effect mx-auto btn-rounded-custom">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    <div class="mt-1 mb-2">
                        <a href="/Event/Index/@Model.Club.Id" class="btn btn-outline-primary col-lg-5">Предстоящи събития</a>
                        <a href="/Event/ExpiredEvents/@Model.Club.Id" class="btn btn-outline-primary col-lg-5">Минали събития</a>
                    </div>
                </div>
                <partial name="./_AddEvent.cshtml" />
                @if (Model.Events.Count > 0)
                {
                    @foreach (var eventEntity in Model.Events)
                    {
                        <div class="px-0 col-lg-10 mx-auto my-3 box-shadow-light">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h4 class="card-title">@eventEntity.Name</h4>
                                    <p class="card-text">Записани @eventEntity.EventUsers.Count() участници</p>
                                    @if (eventEntity.EventUsers.Any(x => x.UserId == Model.CurrentUser.Id))
                                    {
                                        <a href="/Event/ExitEvent/@eventEntity.Id?returnUrl=/Event/Index/@Model.Club.Id" class="btn blue-gradient btn-sm">Отпиши</a>
                                    }
                                    else
                                    {
                                        <a href="/Event/JoinEvent/@eventEntity.Id?clubId=@Model.Club.Id&returnUrl=/Event/Index/@Model.Club.Id" class="btn blue-gradient btn-sm">Запиши се</a>
                                    }
                                    <a href="/Event/Details/@eventEntity.Id?clubId=@Model.Club.Id" class="btn blue-gradient btn-sm">Виж събитието</a>
                                </div>
                                @{
                                    int daysLeft = @eventEntity.Date.Subtract(DateTime.UtcNow).Days + 1;
                                }
                                <div class="card-footer text-muted blue-gradient white-text">
                                    @if (daysLeft > 0)
                                    {
                                        <p class="mb-0">@daysLeft дни до събитието</p>
                                    }
                                    else
                                    {
                                        <p class="mb-0">Преди @Math.Abs(daysLeft) дни</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3 class="text-primary text-center my-5">Няма събития!</h3>
                }
                }

            </div>
        }
        else
        {
            <h3 class="text-primary text-center mx-auto py-3 mt-4">Събитията са само за членове на клуба!</h3>
        }
    </div>